<div>
    <div class="menuConfiguracion">
        <!--TODO:Translate with angular translate-->

        <ul class="menuOpciones nav nav-pills">
            <li class="idiomasBoton dropdown selector" ng-if="languages.length>1">
                <a class="dropdown-toggle" data-toggle="dropdown" >
                    <b class="caret"></b>&nbsp;&nbsp;
                    <i class="flags lang-{{witbookerParams.representation.language.code}}"></i>{{witbookerParams.representation.language.name}}
                </a>
                <ul class="dropdown-menu pull-right" ng-if="true" >
                    <li  ng-repeat="lang in languages" ng-if="lang.code!=witbookerParams.representation.language.code">
                        <a  ng-click="changeLanguage(lang.code,lang.locale)">
                            <i class="flags lang-{{lang.code}}"></i>{{lang.name}}
                        </a>
                    </li>
                </ul>

            </li>

            <li id="conversor-divisas" class="divisaBoton dropdown selector conversor-divisas">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="caret"></b>&nbsp;&nbsp;
                    <strong>{{witbookerParams.representation.currencySymbol}}</strong>
                    {{witbookerParams.representation.currency}}
                </a>

                <ul class="dropdown-menu pull-right" >
                    <li  ng-repeat="currency in currencies"  ng-if="currency.code!=witbookerParams.representation.currency">
                        <a  ng-click="changeCurrency(currency.code,currency.symbol)">
                            <strong>{{currency.symbol}}</strong>
                            {{currency.code}}
                        </a>
                    </li>
                </ul>

            </li>
        </ul>

        <ul class="menuPasos">
            <li class="menuDispo menuSelected" style="color: rgb(14, 119, 187);">
                <span class="menuNumeros" >❶&nbsp;</span><span translate>trans.step1.stepLabel</span>
            </li>
            <li class="menuDatos " style="color: rgb(113, 113, 113);">
                <span class="menuNumeros">❷&nbsp;</span><span translate>trans.step2.stepLabel</span>
            </li>
            <li class="menuConfirm" style="color: rgb(113, 113, 113);">
                <span class="menuNumeros">❸&nbsp;</span><span translate>trans.step3.stepLabel</span>
            </li>
        </ul>

        <div class="clearer"></div>
        <!--<div class="menuOpcionesMobile">

            &lt;!&ndash;<option class="dropdown-toggle" data-toggle="dropdown" href="#">&ndash;&gt;
                &lt;!&ndash;<b class="caret"></b>&nbsp;&nbsp;&ndash;&gt;
                &lt;!&ndash;<i class="flags lang-{{witbookerParams.representation.language.code}}"></i>{{witbookerParams.representation.language.name}}&ndash;&gt;
            &lt;!&ndash;</option>&ndash;&gt;
            <select class="idiomasBoton">
                <option  ng-repeat="lang in languages" ng-click="changeLanguage(lang.code)" ng-selected="{selected:(witbookerParams.representation.language.code==lang.code)}">
                            <i class="flags lang-{{lang.code}}"></i>{{lang.name}}
                </option>
            </select>
        </div>-->
    </div>


</div>
