<div ng-repeat="establishment in establishment.establishments | orderBy:['cheapestRate','name' ]:false" ng-include="constants.assetsDir+'partials/step_one/stepOne.list.html'"> </div>
<div accordion class="hotelAccordion" ng-if='!(establishment && establishment.hasOwnProperty("establishments") && establishment.establishments.length>0)
 && !(establishment.allFiltered && witbookerParams.representation.hideLocked &&  witbookerParams.representation.hideRestricted ) ' >
    <div accordion-group
         class="{{ witbookerParams.representation.showEstablishmentAccordionHeader ? '': 'noHeader' }}"
         is-open="establishment.isOpen"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false" >
        <div accordion-heading ng-if="witbookerParams.representation.showEstablishmentAccordionHeader">
            <div witbooking-establishment show-extra-desc="showExtraDesc" witbooker-params="witbookerParams" representation="representation"  util="util"  establishment="establishment"
                 > </div>
            <div witbooking-info-panel-static ng-click="interceptClick($event)" establishment="establishment" title="'description'" type="establishment.visualState.panelType" > </div>
        </div>
        <div class="accommodation_list" ng-include="constants.assetsDir+'partials/step_one/establishment/accommodation_list.html'"></div>
    </div>
</div>
